.button-container {
    display: flex;
    align-items: center;
}

.button-container button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 10px;
    background-color: transparent;
}

.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0,0,0,0.05) 1px solid;
}